# git이 line-ending을 바꿀때, 문제가 많다.
# 참고 : http://bit.ly/LI3t2f
#
# 관련된 문제 중 하나를 겪었는데, modification을 git에서 없애지 못하는 경우가 발생
# commit을 하고 rollback을 해서 원상태로 겨우 돌릴 수 있었다.
# 다른 사람이 겪은 사례 : http://bit.ly/LI3qTV
#
# 그래서 변환을 억제하도록 설정
[core]
    autocrlf = false

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
