[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "emacs.d/evil"]
	path = emacs.d/evil
	url = git://gitorious.org/evil/evil.git
[submodule "emacs.d/nrepl.el"]
	path = emacs.d/nrepl.el
	url = https://github.com/kingtim/nrepl.el.git
[submodule "emacs.d/clojure-mode"]
	path = emacs.d/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "theme"]
	path = theme
	url = https://github.com/ohyecloudy/tomorrow-theme.git
[submodule "emacs.d/undo-tree"]
	path = emacs.d/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
